.about-us
  padding: 85px 0 34px
  background: $blueDark
  &, .h-title
    color: #fff
.au
  &_title-info
    margin-bottom: 60px
    p
      font-weight: $reg
      font-size: 25px
      line-height: 50px
      letter-spacing: 0.56px
      margin: 0
      padding: 0

  &_list-title
    @media(max-width: 768px)
      margin-bottom: 50px
      text-align: center
    .h-title
      margin-bottom: 10px
      @media(max-width: 768px)
        text-align: center
    p
      width: 70%
      @media(max-width: 992px)
        width: 100%
  &_list
    ul
      display: flex
      flex-wrap: wrap
      padding: 0
      margin: 0
      list-style: none
      li
        min-width: 50%
        flex: 0 1 50%
        margin-bottom: 27px
        font-weight: $med
        font-size: 20px
        line-height: 33px
        letter-spacing: 0.555556px
        @media(max-width: 767px)
          min-width: 100%
          flex: 0 1 100%

  &_btn
    margin-top: 73px
    text-align: center
    .btn_main
      margin-bottom: 38px

    .small-info
      font-size: 13px
      line-height: 33px
      font-weight: $reg
      letter-spacing: 0.361111px
      opacity: 0.9
