.how-it-works
  background: #fff
  padding: 90px 0 80px
  position: relative
  overflow: hidden
  @media(max-width: 768px)
    padding: 50px 0 0
  &_title
    margin-bottom: 80px
    @media(max-width: 768px)
      margin-bottom: 50px

  .bg-icons
    @media(max-width: 736px)
      display: none
    .bg-icon
      background: url('../images/paper-pink.svg') center center no-repeat
      background-size: contain
      opacity: 0.1
    .bg-icon1
      top: -202px
      right: 297px
      width: 282px
      height: 297px
    .bg-icon2
      bottom: 86px
      left: -141px
      width: 282px
      height: 297px
    .bg-icon3
      bottom: -256px
      right: -26px
      width: 282px
      height: 297px

.hw
  &_items
    position: relative
    &:before
      content: ''
      width: 33%
      border: 1px dashed $main
      position: absolute
      transform: scale(2, 0.5)
      transform-origin: center center
      top: 116px
      left: 0
      right: 0
      margin: auto
      @media(max-width: 992px)
        display: none

    div[class|="col"]:last-child
      .hw_item
        &:after
          display: none !important

  &_item
    text-align: center
    padding: 0 25px
    position: relative
    @media(max-width: 1025px)
      padding: 0 15px
    @media(max-width: 768px)
      padding: 0 25px
    &:after
      content: ''
      position: absolute
      left: 0
      right: 0
      bottom: 0
      margin: auto
      border-left: 1px dashed $main
      width: 1px
      height: 30px
      display: none
    @media(max-width: 991px)
      margin-bottom: 40px
    @media(max-width: 767px)
      margin-bottom: 14px
      padding-bottom: 36px
      &:after
        display: block

  &_num
    margin-bottom: 12px
    span
      display: inline-block
      width: 50px
      height: 50px
      background: $blue
      border-radius: 100%
      position: relative
      text-align: center
      line-height: 50px
      color: #fff
      font-weight: $med
      font-size: 17px
      &:before
        content: ''
        width: 48px
        height: 48px
        background: none
        border: 6px solid #fff
        border-radius: 100%
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        margin: auto
  &_icon
    margin-bottom: 16px

  &_title
    & *
      text-align: center
