.main-cover
  background: $grayLight
  position: relative
  padding: 150px 0 80px
  &, .main-row
    height: 640px
    @media(max-width: 992px)
      height: auto
      max-height: none
.mc
  &_img
    img
      max-width: 100%

  &_title
    .h1-title
      margin-bottom: 22px

  &_info
    margin-bottom: 30px
