.solutions
  padding: 90px 0 110px
  background: $grayLight
  position: relative
  overflow: hidden
  @media(max-width: 768px)
    padding: 62px 0 37px
  &_title
    margin-bottom: 68px
    .h-title
      text-align: center

  .bg-icons
    .bg-icon
      background: url('../images/paper.svg') center center no-repeat
      background-size: contain
    .bg-icon1
      top: -110px
      left: 214px
      width: 282px
      height: 297px
      @media(max-width: 736px)
        width: 175px
        height: 185px
        top: 80px
        right: -120px
        left: auto
    .bg-icon2
      bottom: -10px
      left: 98px
      width: 282px
      height: 297px
      @media(max-width: 736px)
        width: 175px
        height: 185px
        left: -50px
        bottom: 50%
    .bg-icon3
      bottom: 199px
      right: -25px
      width: 282px
      height: 297px
      @media(max-width: 736px)
        width: 175px
        height: 185px
        bottom: 248px
        right: -120px

.solution
  &_items
    margin-bottom: 50px
    @media(max-width: 768px)
      margin-bottom: 10px

  &_item
    background: #fff
    padding: 47px 30px
    min-height: 100%
    @media(max-width: 1024px) and (min-width: 769px)
      padding: 47px 10px
    &-wrap
      @media(max-width: 768px)
        margin-bottom: 30px
    &, .solution_title
      text-align: center

  &_icon
    margin-bottom: 31px
  &_title
    font-weight: $med
    font-size: 20px
    line-height: 25px
    letter-spacing: 0.444444px
    margin-bottom: 17px
    @media(max-width: 991px)
      font-size: 17px
