section.about-us
    .bg-icons
        .bg-icon.bg-icon1
        .bg-icon.bg-icon2
        .bg-circle1
        .bg-circle2
    .b-container
        .row.justify-content-center
            .col-md-10.col-12
                .au_title-info
                    p.text-c.
                        One in four Americans have lost or forgotten a financial document.  
                    p.text-c.
                        Only 40 percent can locate important documents when needed.*
            .col-lg-6.col-12
                .au_list-title.fade-up
                    h2.h-title Store, access, and control the documents that matter most.
                    p Upload a range physical and digital files for your family or business.
            .col-lg-6.col-md-10.col-10
                .au_list
                    ul
                        li.fade-up
                            p Birth Certificates
                        li.fade-up
                            p Passports
                        li.fade-up
                            p Tax Returns
                        li.fade-up
                            p Financial Records
                        li.fade-up
                            p Business Documents
                        li.fade-up
                            a(href='#') And More

            .col-md-12.col-10
                .au_btn
                    a.btn_main.fade-up(href='#') SIGN UP
                    p.small-info.fade-up *From a Consumer Reports National Research Center survey.
