section.about-us
    .b-container
        .row.justify-content-center
            .col-md-10.col-12
                .au_title-info
                    p.text-c.
                        One in four Americans have lost or forgotten a financial document.  
                    p.text-c.
                        Only 40 percent can locate important documents when needed.*
            .col-lg-6.col-12
                .au_list-title
                    h2.h-title Store, access, and control the documents that matter most.
                    p Upload a range physical and digital files for your family or business.
            .col-lg-6.col-12
                .au_list
                    ul
                        li
                            p Birth Certificates
                        li
                            p Passports
                        li
                            p Tax Returns
                        li
                            p Financial Records
                        li
                            p Business Documents
                        li
                            a(href='#') And More

            .col-12
                .au_btn
                    a.btn_main(href='#') SIGN UP
                    p.small-info *From a Consumer Reports National Research Center survey.
