section.cta
    .bg-icons
        .bg-icon.bg-icon1
        .bg-icon.bg-icon2
        .bg-circle1
    .b-container
        .row.justify-content-center
            .col-lg-7.col-md-9.col-12.text-c
                h2.h-title.
                    Stay safe and secure with a modern approach to digital and physical filing.
                a.btn_main(href='#') SIGN UP FOR FREE
