section.how-it-works
    .bg-icons
        .bg-icon.bg-icon1
        .bg-icon.bg-icon2
        .bg-icon.bg-icon3
    .b-container
        .row
            .col-12
                .how-it-works_title
                    h2.h-title.text-c How it works
            .col-12
                .hw_items
                    .row.justify-content-md-between.justify-content-center
                        .col-lg-3.col-md-6.col-10
                            .hw_item
                                .hw_num
                                    span 1
                                .hw_icon
                                    img(src='images/icon1.svg' alt='icon')
                                .hw_info
                                    .hw_title
                                        h4 Sign up
                                    p.
                                        Create an account and subscribe to the plan that fits your needs.
                        .col-lg-3.col-md-6.col-10
                            .hw_item
                                .hw_num
                                    span 2
                                .hw_icon
                                    img(src='images/icon2.svg' alt='icon')
                                .hw_info
                                    .hw_title
                                        h4 Checklist
                                    p.
                                        Receive a checklist of recommended documents, tailored to your priorities.
                        .col-lg-3.col-md-6.col-10
                            .hw_item
                                .hw_num
                                    span 3
                                .hw_icon
                                    img(src='images/icon3.svg' alt='icon')
                                .hw_info
                                    .hw_title
                                        h4 Upload
                                    p.
                                        Upload all selected and relevant documents to your account.
                        .col-lg-3.col-md-6.col-10
                            .hw_item
                                .hw_num
                                    span 4
                                .hw_icon
                                    img(src='images/icon4.svg' alt='icon')
                                .hw_info
                                    .hw_title
                                        h4 Access & Manage
                                    p.
                                        Control and share access to documents, with bank vault storage options for original paper copies.
