section.main-cover
    .b-container
        .main-row.row.align-items-center
            .col-lg-5.col-md-6.col-12
                .mc_title
                    h1.h1-title Storage Made Simple.
                    p.mc_info.
                        Your valuable documents deserve more than a deposit box. Benefit from the ultimate storage powerhouse, with Safely Deposit’s simple and efficient solutions.
                    a.btn_main(href='#pricing') GET STARTED
            .col-lg-7.col-md-6.col-12
                .mc_img
                    img(src='images/cover-img.svg' alt='main img')
