section.partners
    .b-container
        .row
            .col-12.d-flex.align-items-center.justify-content-md-between.justify-content-around.flex-wrap
                .partner_img
                    img(src='images/partner1.svg' alt='partner logo')
                .partner_img
                    img(src='images/partner2.svg' alt='partner logo')
                .partner_img
                    img(src='images/partner3.svg' alt='partner logo')
                .partner_img
                    img(src='images/partner4.svg' alt='partner logo')
