section.pricing
    .bg-icons
        .bg-icon.bg-icon1
        .bg-icon.bg-icon2
        .bg-circle1
    .b-container
        .row.justify-content-center
            .col-lg-6.col-md-8.col-11
                .pricing_title
                    h2.h-title.text-c A repository of value for you, your family, and your business.
            .col-12
                .pp_wrap
                    .row.justify-content-lg-between.justify-content-around
                        .pp_item-wrap.col-lg-4.col-md-4.col-12
                            .pp_item.fade-up.active
                                .pp_info-wrap
                                    .pp_title
                                        h5 Family
                                    .pp_price
                                        sup.currency $
                                        span.price 20
                                        span.period /Month
                                    .pp_list
                                        ul
                                            li.
                                                Ensure your family’s protection with digital beneficiary management.
                                            li.
                                                Store birth certificates, social security cards, passports, your will and testament, and more.
                                            li.
                                                Receive a checklist of life’s important documents.
                                .pp_btn
                                    a.btn_white(href='#') FEATURED PLAN
                        .pp_item-wrap.col-lg-4.col-md-4.col-12
                            .pp_item.fade-up
                                .pp_info-wrap
                                    .pp_title
                                        h5 Personal
                                    .pp_price
                                        sup.currency $
                                        span.price 10
                                        span.period /Month
                                    .pp_list
                                        ul
                                            li.
                                                Store birth certificates, social security cards, passports, your will and testament, and more.
                                            li.
                                                Receive a checklist of life’s important documents.
                                .pp_btn
                                    a.btn_main(href='#') select plan
                        .pp_item-wrap.col-lg-4.col-md-4.col-12
                            .pp_item.fade-up
                                .pp_info-wrap
                                    .pp_title
                                        h5 Free
                                    .pp_price
                                        sup.currency $
                                        span.price 0
                                        span.period /Month
                                    .pp_list
                                        ul
                                            li.
                                                Safely store your will and testament.
                                            li.
                                                Receive a checklist of life’s important documents.
                                .pp_btn
                                    a.btn_main(href='#') select plan
            .col-12
                .pi_wrap.fade-up
                    .bg-icons_min
                        .bg-icon_min.bg-icon_min1
                        .bg-icon_min.bg-icon_min2
                        .bg-icon_min.bg-icon_min3
                        .bg-icon_min.bg-icon_min4
                    .row.align-items-center
                        .col-lg-3
                            .pi_title
                                h4.pi_title-h Professional
                        .col-lg-5
                            .pi_info
                                p.
                                    Keep your business organized and secure with customized professional document storage.
                        .col-lg-4
                            .pi_btn
                                a.btn_white(href='#') CONTACT US
