section.solutions
    .bg-icons
        .bg-icon.bg-icon1
        .bg-icon.bg-icon2
        .bg-icon.bg-icon3
    .b-container
        .row.justify-content-center
            .col-lg-6.col-12
                .solutions_title
                    h2.h-title Easily manage and share your documents with trusted contacts and loved ones.
            .solution_items.col-12
                .row.justify-content-lg-between.justify-content-around
                    .solution_item-wrap.col-lg-4.col-md-4.col-12
                        .solution_item.fade-up
                            .solution_icon
                                img(src='images/s-icon1.svg' alt='img')
                            .solution_info
                                h4.solution_title Convenience
                                p.
                                    Storage is easy to setup and use. Skip the hassle of a bank deposit box and enjoy exceptional, on-demand customer service.
                    .solution_item-wrap.col-lg-4.col-md-4.col-12
                        .solution_item.fade-up
                            .solution_icon
                                img(src='images/s-icon2.svg' alt='img')
                            .solution_info
                                h4.solution_title Beneficiary Management
                                p.
                                    Share documents with beneficiaries, track life events, record data, and make beneficiary designations.
                    .solution_item-wrap.col-lg-4.col-md-4.col-12
                        .solution_item.fade-up
                            .solution_icon
                                img(src='images/s-icon3.svg' alt='img')
                            .solution_info
                                h4.solution_title Chain of Custody
                                p.
                                    Keep track of all changes in the custody, control, transfer, and disposition of valuable documents.

            .col-12.text-c
                a.btn_main.fade-up(href='#') CREATE YOUR PLAN
