footer.footer
    .b-container
        .row.justify-content-center
            .col-lg-4.col-md-4.col-10
                .footer_logo-wrap
                    a.footer_logo(href='#')
                        img(src='images/logo-w.svg' alt='logo')
                    p.
                        325 Sharon Park Drive, Suite 440
                    p.footer_address.
                        Menlo Park, CA 94025
                    a(href='mailto:info@safelydeposit.com') info@safelydeposit.com

            .col-lg-8.col-md-8.col-10
                .footer_menu
                    .fl
                        .fl_title
                            h5.h-title Safely Deposit
                        ul.fl_links
                            li
                                a(href='#') FAQ
                            li
                                a(href='#') What to store
                            li
                                a(href='#') Blog
                            li
                                a(href='#') For Busines
                    .fl
                        .fl_title
                            h5.h-title Account
                        ul.fl_links
                            li
                                a(href='#') Login
                    .fl
                        .fl_title
                            h5.h-title Company Info
                        ul.fl_links
                            li
                                a(href='#') About Us
                            li
                                a(href='#') Contact
                            li
                                a(href='#') Privacy
                    .fl
                        .fl_title
                            h5.h-title Connect
                        ul.fl_links
                            li
                                a(href='#') Facebook
                            li
                                a(href='#') Twitter
                            li
                                a(href='#') Linkedin
