footer.footer
    .b-container
        .row.justify-content-between.align-items-center
            .col-md-5.col-12.order-3.text-c
                .footer_links
                    a(href='#') Contact
                    a(href='#') Terms
                    a(href='#') Privacy
                    a(href='#') Help
