header.main-header.c-height
    .b-container
        .main-row.row.align-items-center.justify-content-between
            .col-md-4.col-8
                .main-header_logo
                    a(href='#')
                        img.logo-m(src='images/logo.svg' alt='logo')
                        img.logo-w(src='images/logo-w.svg' alt='logo')
            .col-md-8.col-4
                .main-header_menu
                    a(href='#' class= menu1) How It Works
                    a(href='#' class= menu2) For Business
                    a(href='#' class= menu3) FAQ
                    a.btn_header(href='#' class= menu4) Sign Up
                    a(href='#' class= menu5) Login

                .main-header_d-menu
                    .hamburger
                        span
                        span
                        span

    .mob-menu
        .mob-menu_bg
        ul
            li
                a(href='#' class= menu1) How It Works
            li
                a(href='#' class= menu2) For Business
            li
                a(href='#' class= menu3) FAQ
            li
                a(href='#' class= menu4) Sign Up
            li
                a(href='#' class= menu5) Login
